/* Global Styles */
.App {
  display: flex;
  flex-direction: column;
  background-color: #dfdfdf;
}
* {
  box-sizing: border-box;
}

/* Mesh Styles */
.Mesh {
  width: 100%;
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: column;
}

/* Picture Styles */
.Picture {
  border: 1px solid white;
  display: flex;
  align-items: center;
  padding: 10%;
  background: radial-gradient(circle ,white, silver);
  background-repeat: no-repeat;
  // transition: grid-row .5s ease-out;
}
img {
  width: 100%;
}